<div class="body-container-wrapper">
  <div class="body-container container-fluid">
    <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
      <div class="row-fluid ">
        <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">
          <div class="row-fluid-wrapper row-depth-1 row-number-4 ">
            <div class="row-fluid ">
              <div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
                <div class="cell-wrapper layout-widget-wrapper">
                  <span id="hs_cos_wrapper_module_153436819594962" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html">
                    <section class="homepage-hero">
                      <div class="homepage-hero__content">
                        <div class="homepage-hero__container hsg-page-width-normal">
                          <div class="homepage-hero__text">
                            <h1>See how much you could save.</h1>
                            <p>Our trained team will work with you to see how much you could save. Once we determine how much you could save, we can move forward with a pricing plan that works for you.</p>
                            <div class="homepage-hero__cta">
                              <form action="/submit-free-quote">
                                <h3>Free Quote</h3>
                                <br>
                                <div>
                                  <label for="">Full Name*</label>
                                  <input type="text" placeholder="John Doe">
                                </div>
                                <div>
                                  <label for="">Company Name*</label>
                                  <input type="text" placeholder="Voyent Inc">
                                </div>
                                <div>
                                  <label for="">Email*</label>
                                  <input type="email" placeholder="john@example.com">
                                </div>
                                <div>
                                  <label for="">Average cloud costs per month*</label>
                                  <input type="number" placeholder="$2500">
                                </div>
                                <div class="call-to-action">
                                  <input type="button" class="cta--primary homepage-hero-cta" value="Submit">
                                  <p class="hsg-microcopy">All fields are required.</p>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </span>
                </div><!--end layout-widget-wrapper -->
              </div><!--end widget-span -->
            </div><!--end row-->
          </div><!--end row-wrapper -->
        </div><!--end widget-span -->
      </div><!--end row-->
    </div><!--end row-wrapper -->
  </div><!--end body -->
</div>