<div class="body-conatiner-wrapper">
  <div class="body-container container-fluid">
    <div class="row-fluid-wrapper row-depth-1 row-number-1">
      <div class="row-fluid">
        <div class="span12 widget-span widget-type-widget_container">
          <span
            id="hs_cos_wrapper_module_146506805638248396"
            class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container"
            style=""
            data-hs-cos-general-type="widget_container"
            data-hs-cos-type="widget_container">

            <!-- Hero -->
            <div id="hs_cos_wrapper_widget_1465068220644" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">
              <section class="hsg-page-header" data-background-overlay="gradient1">
                <img data-background-overlay-img="" src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="our_story.jpg">
              </section>
            </div>

            <!-- Content -->
            <div id="hs_cos_wrapper_widget_1465069583182" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">
              <div class="section-header section-header--none module-bg--white">
                <div class="hs-page-width-module">
                  <h2 class="section-header__header ">Our Story</h2>
                  <p>
                    In 2004, we met as graduate students at MIT.
                    <br><br>
                    While Brian was helping venture-backed startups with their go-to-market strategy,
                    we started to notice something curious: <strong>Customers had gotten really good at blocking out
                    interruptive marketing and sales tactics</strong>.
                    The tried and true tactics of old (direct mail, email blasts, cold calls) simply weren’t effective anymore.
                  </p>

                  <p>
                    In 2004, we met as graduate students at MIT.
                    <br><br>
                    While Brian was helping venture-backed startups with their go-to-market strategy,
                    we started to notice something curious: <strong>Customers had gotten really good at blocking out
                    interruptive marketing and sales tactics</strong>.
                    The tried and true tactics of old (direct mail, email blasts, cold calls) simply weren’t effective anymore.
                  </p>
                  <br><br>
                  <h2 class="section-header__header ">Our Mission</h2>
                  <p>
                    In 2004, we met as graduate students at MIT.
                    <br><br>
                    While Brian was helping venture-backed startups with their go-to-market strategy,
                    we started to notice something curious: <strong>Customers had gotten really good at blocking out
                    interruptive marketing and sales tactics</strong>.
                    The tried and true tactics of old (direct mail, email blasts, cold calls) simply weren’t effective anymore.
                  </p>

                  <p>
                    In 2004, we met as graduate students at MIT.
                    <br><br>
                    While Brian was helping venture-backed startups with their go-to-market strategy,
                    we started to notice something curious: <strong>Customers had gotten really good at blocking out
                    interruptive marketing and sales tactics</strong>.
                    The tried and true tactics of old (direct mail, email blasts, cold calls) simply weren’t effective anymore.
                  </p>
                  <br><br>
                </div>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>