<div class="body-container-wrapper">
  <div class="body-container container-fluid">
    <div class="row-fluid-wrapper row-depth-1 row-number-1">
      <div class="row-fluid ">
        <div class="span12 widget-span widget-type-widget_container " style="" data-widget-type="widget_container" data-x="0" data-w="12">
          <span id="hs_cos_wrapper_module_153737210684887" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_1537372862474" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">
            <section class="section-header section-header--none hsg-bg__white" id="2051810">
              <div class="hsg-page-width-normal">
                <h2 class="section-header__header">
                  Contact Us
                </h2>
              </div>
            </section>
          </div>
          <div id="hs_cos_wrapper_widget_1537377292096" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">
            <section class="hsg-section-gmap module-bg--white">
              <div class="hsg-section-gmap__wrapper">
                <div class="hsg-section-gmap__map-wrapper">
                  <div class="hsg-section-gmap__google-map" style="width:100%; height:500px">
                    <iframe width="700" height="500" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=347%20FIFTH%20AVENUE%2C%20SUITE%20%231402-591%20NEW%20YORK%20NY%2C%2010016&key=AIzaSyDl_rZQDCBnQFA8ScYFcezuL4sh7aBfvuM" allowfullscreen></iframe>
                  </div>
               </div>

               <div class="hsg-section-gmap__content-wrapper">
                <div class="hsg-section-gmap__info-block hsg-section-gmap__address-block">
                  <h4>Office</h4>
                  <p class="hsg-section-gmap__address-block__info">347 Fifth Avenue, Suite #1402-591</p>
                  <p class="hsg-section-gmap__address-block__info">New York, NY 10016</p>
                  <p class="hsg-section-gmap__address-block__info">United States</p>
                </div>
                <div class="hsg-section-gmap__info-block">
                  <h5>Phone</h5>
                  <p class="hsg-section-gmap__info-block--content">+1 (212) 203-5990</p>
                </div>
                <div class="hsg-section-gmap__info-block">
                  <h5>Email</h5>
                  <p class="hsg-section-gmap__info-block--content"><a href="mailto:info@cloudmiser.com" target="_blank">info@cloudmiser.com</a></p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>