<div class="header-container-wrapper">
    <div class="header-container container-fluid">

        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
            <div class="row-fluid ">
                <div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
                    <div class="" data-global-widget-path="generated_global_groups/4062488779.html">

                        <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
                            <div class="row-fluid ">
                                <div class="span12 widget-span widget-type-raw_jinja " style="" data-widget-type="raw_jinja" data-x="0" data-w="12">
                                    <div id="hsg-nav" class="hsg-nav__wrapper ">
                                        <nav class="hsg-nav-menu">
                                            <div class="hsg-page-width-normal">
                                                <div class="hsg-nav__inner">
                                                    <a href="/" id="hsg-nav__logo">
                                                        <img src="/assets/logo.svg" alt="Cloudmiser Logo" id="cloud-miser-logo">
                                                    </a>

                                                    <div class="hsg-nav__burger-wrapper">
                                                        <div class="hsg-nav__burger">
                                                            <span class="hsg-nav__burger-label"></span>
                                                        </div>
                                                    </div>

                                                    <div class="hsg-nav__groups-wrapper">
                                                        <ul class="hsg-nav__group hsg-nav__group--primary">

                                                            <li class="hsg-nav__group-item hsg-nav__group-item--order-1  hsg-nav__group-item--has-dropdown ">
                                                                <div class="hsg-nav__link-wrapper">
                                                                    <a class="hsg-nav__link">
                                                                        <span class="hsg-nav__link-label">About</span>
                                                                    </a>
                                                                </div>

                                                                <ul class="hsg-nav__dropdown-list hsg-nav__dropdown-list--2-col">
                                                                    <li class="hsg-nav__dropdown-row">

                                                                            <a routerLink="/about" class="hsg-nav__box-link" gtm="">
                                                                                <h4 class="hsg-nav__header" gtm="">About Us</h4>

                                                                                <p class="hsg-nav__subheader" gtm="">Find out about our great team and our mission to serve you better.</p>

                                                                            </a>

                                                                            <a routerLink="/contact" class="hsg-nav__box-link" gtm="">
                                                                                <h4 class="hsg-nav__header" gtm="">Contact Us</h4>

                                                                                <p class="hsg-nav__subheader" gtm="">Get in touch.</p>

                                                                            </a>

                                                                    </li>
                                                                </ul>
                                                            </li>

                                                            <li class="hsg-nav__group-item hsg-nav__group-item--order-2 ">
                                                                <div class="hsg-nav__link-wrapper">
                                                                    <a routerLink="/services" class="hsg-nav__link">
                                                                        <span class="hsg-nav__link-label">Services</span>
                                                                    </a>
                                                                </div>

                                                            </li>

                                                            <li class="hsg-nav__group-item hsg-nav__group-item--order-3 ">
                                                                <div class="hsg-nav__link-wrapper">
                                                                    <a routerLink="/pricing" class="hsg-nav__link">
                                                                        <span class="hsg-nav__link-label">Pricing</span>
                                                                    </a>
                                                                </div>

                                                            </li>

                                                            <li class="hsg-nav__group-item hsg-nav__group-item--order-4 ">
                                                                <div class="hsg-nav__link-wrapper">
                                                                    <a routerLink="/free-quote" class="hsg-nav__link">
                                                                        <span class="hsg-nav__link-label">Free Quote</span>
                                                                    </a>
                                                                </div>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>

                                    <span id="hs_cos_wrapper_international_search_en_version" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html" data-global-widget-id="4168891968"><script data-template-name="hsgDefaultSearchWrapper" type="text/template">
                                        <section class="hsg-search__modal-header">
                                            <div class="hs-page-width-normal">
                                                <input class="hsg-search__modal-input" name="searchModal" type="search" placeholder="search...">
                                                <div class="hsg-search__modal-search-options">
                                                    <label for="searchOptionWeb">
                                                    <input id="searchOptionWeb" value="009219321729865762236:z9gsnksfc30"
                                                    name="searchOption" type="radio" class="hsg-search__modal-radio" />Search hubspot.com</label>
                                                <label for="searchOptionBlog">
                                                    <input id="searchOptionBlog" value="009219321729865762236:fzizmixjdmi"
                                                    name="searchOption" type="radio" class="hsg-search__modal-radio" />Search blog</label>
                                                </div>
                                            </div>
                                        </section>

                                        <section class="hsg-search__results">
                                          <div class="hs-page-width-normal">
                                              <span class="hsg-search__container hsg-search__default-state">
                                                <h6>Enter a search term above and press Enter.</h6>
                                            </span>
                                        </div>
                                    </section>
                                </script>

                                <script data-template-name="hsgSearchResultsWrapper" type="text/template">
                                    <section class="hsg-search__modal-header">
                                        <div class="hs-page-width-normal">
                                            <input class="hsg-search__modal-input" name="searchModal" type="search" placeholder="search...">
                                            <div class="hsg-search__modal-search-options">
                                                <label for="searchOptionWeb">
                                                    <input id="searchOptionWeb" value="009219321729865762236:z9gsnksfc30" name="searchOption" type="radio" class="hsg-search__modal-radio" />Search hubspot.com</label>
                                                    <label for="searchOptionBlog">
                                                        <input id="searchOptionBlog" value="009219321729865762236:fzizmixjdmi" name="searchOption" type="radio" class="hsg-search__modal-radio" />Search blog</label>
                                                    </div>
                                                </div>
                                            </section>

                                            <section class="hsg-search__results">
                                                <div class="hs-page-width-normal">
                                                    <% _.each(items, function(items) { %>
                                                    <div class="hsg-search-item" data-link="<%- items.link %>">
                                                        <div class="title">
                                                            <a href="<%- items.link %>" target="_blank">
                                                                <%- items.title %>
                                                            </a>
                                                            <p>
                                                                <%- items.link %>
                                                            </p>
                                                        </div>
                                                        <div class="snippet">
                                                            <p>
                                                                <%- items.snippet %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <% }); %>
                                                    <span class="hsg-search__container"><a class="hsg-search__more cta cta--blue" href="#">Load more results</a></span>
                                                </div>
                                            </section>
                                        </script>

                                        <script data-template-name="hsgNoResults" type="text/template">
                                            <section class="hsg-search__modal-header">
                                                <div class="hs-page-width-normal">
                                                    <input class="hsg-search__modal-input" name="searchModal" type="search" placeholder="search...">
                                                    <div class="hsg-search__modal-search-options">
                                                        <label for="searchOptionWeb">
                                                            <input id="searchOptionWeb" value="009219321729865762236:z9gsnksfc30" name="searchOption" type="radio" class="hsg-search__modal-radio" />Search hubspot.com</label>
                                                            <label for="searchOptionBlog">
                                                                <input id="searchOptionBlog" value="009219321729865762236:fzizmixjdmi" name="searchOption" type="radio" class="hsg-search__modal-radio" />Search blog</label>
                                                            </div>
                                                        </div>
                                                    </section>

                                                    <section class="hsg-search__results no-results">
                                                        <h6>That’s odd...</h6>
                                                        <p><strong>Couldn’t find quite the right match.</strong></p>
                                                        <p>Don’t worry, try searching again up top.</p>
                                                    </section>
                                                </script>

                                                <script data-template-name="hsgMoreResults" type="text/template">
                                                    <% _.each(items, function(items){ %>
                                                    <div class="hsg-search-item" data-link="<%- items.link %>">
                                                        <div class="title">
                                                            <a href="<%- items.link %>" target="_blank">
                                                                <%- items.title %>
                                                            </a>
                                                            <p>
                                                                <%- items.link %>
                                                            </p>
                                                        </div>
                                                        <div class="snippet">
                                                            <p>
                                                                <%- items.snippet %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <% }); %>
                                                </script>

                                            </span>

                                        </div>
                                        <!--end widget-span -->

                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end row-wrapper -->

                                <div class="row-fluid-wrapper row-depth-1 row-number-4 ">
                                    <div class="row-fluid ">
                                        <div class="span12 widget-span widget-type-raw_jinja " style="" data-widget-type="raw_jinja" data-x="0" data-w="12">

                                        </div>
                                        <!--end widget-span -->

                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end row-wrapper -->

                                <div class="row-fluid-wrapper row-depth-1 row-number-5 ">
                                    <div class="row-fluid ">
                                        <div class="span12 widget-span widget-type-raw_jinja " style="" data-widget-type="raw_jinja" data-x="0" data-w="12">
                        <!--[if lte IE 10]>
<a href="http://outdatedbrowser.com" class="browser-upgrade-notification" style="width: 100%; text-align: center; color: #FFF; background-color: #11434c; display: block;">
    <p style="font-size: .875em; color: #FFF; padding: 15px 0px; margin: 0px;"><img class="browser-upgrade-notification__emoji" src="https://www.hubspot.com/hubfs/assets/hubspot.com/icons/Sad_Face_Emoji_large.png?t=1494954070529" alt="" style="max-height: 1.3em; position: relative; top: 4px; right: 3px;"> Looks like your browser is stuck in the past. Update to the latest version for a better, faster, stronger (and safer) browsing experience. <img class="browser-upgrade-notification__arrow" src="https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/icons/Arrow.png" style="position: relative; left: 0%;"></p>
</a>
<![endif]--></div>
<!--end widget-span -->

</div>
<!--end row-->
</div>
<!--end row-wrapper -->
</div>
<!-- end coded_template: id:4062488789 path:generated_global_groups/4062488779.html -->

</div>
<!--end widget-span -->
</div>
<!--end row-->
</div>
<!--end row-wrapper -->

</div>
<!--end header -->
</div>

<router-outlet></router-outlet>

<div class="footer-container-wrapper">
  <div class="footer-container container-fluid">

    <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
      <div class="row-fluid ">
        <div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
          <!-- start coded_template: id:4255443460 path:generated_global_groups/4255443445.html -->
          <div class="" data-global-widget-path="generated_global_groups/4255443445.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
            <div class="row-fluid ">
              <div class="span12 widget-span widget-type-raw_jinja " style="" data-widget-type="raw_jinja" data-x="0" data-w="12">



                <footer class="hsg-footer">
                  <div class="hsg-footer__layout">
                    <section class="hsg-footer__bottom">
                      <div class="hsg-footer__logo">
                        <a routerLink="/"><img src="/assets/logo-white.svg" alt="Cloudmiser Logo"></a>
                        <p>Copyright © 2019 Cloudmiser, Inc.</p>
                      </div>
                      <div class="hsg-footer__copyright">
                        <ul>

                          <li><a routerLink="/terms-of-use">Terms of Use</a></li>

                          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        </ul>
                      </div>
                    </section>
                  </div>
                </footer>
              </div><!--end widget-span -->

            </div><!--end row-->
          </div><!--end row-wrapper -->
        </div><!-- end coded_template: id:4255443460 path:generated_global_groups/4255443445.html -->

      </div><!--end widget-span -->
    </div><!--end row-->
  </div><!--end row-wrapper -->

  <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
    <div class="row-fluid ">
      <div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
        <div class="cell-wrapper layout-widget-wrapper">
          <span id="hs_cos_wrapper_module_150998788457216" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">

            <div id="hsg-messages" data-seconds="30000"></div>
          </span></div><!--end layout-widget-wrapper -->
        </div><!--end widget-span -->
      </div><!--end row-->
    </div><!--end row-wrapper -->

    <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
      <div class="row-fluid ">
        <div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
          <div class="cell-wrapper layout-widget-wrapper">
            <span id="hs_cos_wrapper_module_1478663466890274005" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"></span>
          </div><!--end layout-widget-wrapper -->
        </div><!--end widget-span -->
      </div><!--end row-->
    </div><!--end row-wrapper -->

  </div><!--end footer -->
</div>