<div class="body-container-wrapper">
  <div class="body-container container-fluid">
    <div class="row-fluid-wrapper row-depth-1 row-number-11 ">
      <div class="row-fluid ">
        <div class="span12 widget-span widget-type-cell sell-more-work-less" style="" data-widget-type="cell" data-x="0" data-w="12">
          <div class="row-fluid-wrapper row-depth-1 row-number-12 ">
            <div class="row-fluid ">
              <div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                <div class="cell-wrapper layout-widget-wrapper">
                  <span id="hs_cos_wrapper_module_1478023871867144424" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">
                    <div class="section-header section-header--none module-bg--white" id="920752">
                      <div class="hs-page-width-module">
                        <h2 class="section-header__header ">Cloud services designed to save you money.</h2>
                      </div>
                    </div>
                  </span></div><!--end layout-widget-wrapper -->
                </div><!--end widget-span -->
              </div><!--end row-->
            </div><!--end row-wrapper -->

            <div class="row-fluid-wrapper row-depth-1 row-number-13 ">
              <div class="row-fluid ">
                <div class="span12 widget-span widget-type-raw_jinja " style="" data-widget-type="raw_jinja" data-x="0" data-w="12">
                  <!-- Carousel Data -->
                  <div class="products-tabbed-carousel-container hs-page-width-normal">
                    <div class="products-tabbed-carousel-container__menu hsg-visible-gt-mobile">
                      <ul>
                        <li class="active" data-tab="0">RESOURCE OPTIMIZATION</li>
                        <li data-tab="1" class="">USAGE ANALYSIS</li>
                        <li data-tab="2" class="">AUTO-SCALING</li>
                        <li data-tab="3" class="">DISCOUNT ADVANTAGES</li>
                      </ul>
                    </div>
                    <div class="products-tabbed-carousel-container__content">
                      <a class="hsg-visible-lte-mobile active" data-tab="0">RESOURCE OPTIMIZATION</a>
                      <div class="products-tabbed-carousel-container__content-panel active">
                        <div class="products-tabbed-carousel-container__content-text">
                          <h3 class="products-tabbed-carousel-container__content-text--header">Make sure you're utilizing all the resources you're paying for.</h3>
                          <p>Many cloud implementations have lots of wasted resources that are running up the bill.</p>
                          <p>We diligently take stock of every element in your cloud infrastructure and make sure there isn't anything out of place, or unnecessary.</p>
                          <p>Then, we carefully examine your current setup and see where there are opportunities for improvement or economic efficiency.</p>
                          <p>OUR CERTIFIED ENGINEERS LOOK FOR:</p>
                          <ul>
                            <li>Unused Instances</li>
                            <li>Overburdened Ecosystem</li>
                            <li>Monitor Dev/Test Environment Lifecycles </li>
                            <li>Inefficient Pipelines and Workflows</li>
                          </ul>
                        </div>
                        <div class="products-tabbed-carousel-container__content-image">
                          <img src="/assets/cloud-diagram.svg">
                        </div>
                      </div>

                      <a class="hsg-visible-lte-mobile" data-tab="1">USAGE ANALYSIS</a>

                      <div class="products-tabbed-carousel-container__content-panel">
                        <div class="products-tabbed-carousel-container__content-text">
                          <h3 class="products-tabbed-carousel-container__content-text--header">Make sure everything is the right size.</h3>
                          <p>A very common problem is over-estimating the power necessary for the tasks at hand.</p>
                          <p>Feel confident that you are maximizing all of your cloud resources with not a shred of fat.</p>
                          <p>We run a detailed analaysis on all of your cloud assets, and see what kind of usage you're getting out of it.</p>
                          <p>It is very common to find machines that are over-qualified for the task at hand. Replacing those assets turns into big savings.</p>
                          <p>COMMON OVER-QUALIFIED BENCHMARKS:</p>
                          <ul>
                            <li>Compute Power</li>
                            <li>IOPS</li>
                            <li>Storage</li>
                            <li>Memory</li>
                          </ul>
                        </div>
                        <div class="products-tabbed-carousel-container__content-image">
                          <img src="/assets/server-stats.png">
                        </div>
                      </div>

                      <a class="hsg-visible-lte-mobile" data-tab="2">AUTO-SCALING</a>

                      <div class="products-tabbed-carousel-container__content-panel">
                        <div class="products-tabbed-carousel-container__content-text">
                          <h3 class="products-tabbed-carousel-container__content-text--header">Keep your costs and your needs aligned.</h3>
                          <p>Decrease spending on cloud assets and resources by using them when you need them, and saving when you don't.</p>
                          <p>Nothing is more wasteful than planning for huge traffic, and only needing it for a key times.</p>
                          <p>Our Auto-Scaling strategy keeps your spend low when your traffic is low, and responsibly raises resources when the needs arise.</p>
                          <p>This keeps your cost curve as close as possible to your acutal spend.</p>
                          <p>NOTABLE FEATURES:</p>
                          <ul>
                            <li>Traffic Spikes</li>
                            <li>Responsible Triggers</li>
                            <li>Maximum Cost Efficiency</li>
                            <li>Sophisticated Resource Management</li>
                          </ul>
                        </div>
                        <div class="products-tabbed-carousel-container__content-image">
                          <img src="/assets/auto-scaling.png">
                        </div>
                      </div>

                      <a class="hsg-visible-lte-mobile" data-tab="3">DISCOUNT ADVANTAGES</a>

                      <div class="products-tabbed-carousel-container__content-panel">
                        <div class="products-tabbed-carousel-container__content-text">
                         <h3 class="products-tabbed-carousel-container__content-text--header">Take advantage of deals and discounts.</h3>
                         <p>Every cloud platform offers great discounts and incentives to bring you to their platform.</p>
                         <p>Our detailed knowlege of how these discounts work allow us to get you the maximum savings available.</p>
                         <p>COMMON DISCOUNTS AND INCENTIVES:</p>
                         <ul>
                          <li>Free Tier</li>
                          <li>Reserve Pricing</li>
                          <li>Spot Instances</li>
                          <li>Volume Discounts</li>
                        </ul>
                      </div>
                      <div class="products-tabbed-carousel-container__content-image">
                        <img src="/assets/piggy.svg">
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--end widget-span -->
            </div><!--end row-->
          </div><!--end row-wrapper -->
        </div><!--end widget-span -->
      </div><!--end row-->
    </div>

    <div class="row-fluid-wrapper row-depth-1 row-number-6 ">
      <div class="row-fluid ">
        <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">
          <div class="row-fluid-wrapper row-depth-1 row-number-7 ">
            <div class="row-fluid ">
              <div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                <div class="cell-wrapper layout-widget-wrapper">
                  <span id="hs_cos_wrapper_module_1478023739564117350" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">
                    <div class="section-header section-header--none module-bg--white" id="920752">
                      <div class="hs-page-width-module">
                        <h2 class="section-header__header section-header--divider">Where All of Your Infrastrucutre Comes Together</h2>
                        <p>We’ll help you cut costs on your cloud infrastructure bill, month over month.</p>
                      </div>
                    </div>
                  </span>
                </div><!--end layout-widget-wrapper -->
              </div><!--end widget-span -->
            </div><!--end row-->
          </div><!--end row-wrapper -->

          <div class="row-fluid-wrapper row-depth-1 row-number-8 ">
            <div class="row-fluid ">
              <div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                <div class="cell-wrapper layout-widget-wrapper">
                  <span id="hs_cos_wrapper_module_147704700049427544" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">
                    <div class="products-overview-cards-wrapper">
                      <div class="products-overview-cards hs-page-width-normal ">
                        <!-- Card 01 -->
                        <div class="products-overview-cards__card">
                          <div class="products-overview-cards__card--heading">Certified Cloud Operations Engineers</div>
                          <p class="products-overview-cards__card--description">We have engineers certified with every major platform, so you can feel assured you are in the hands of experts. Whether you are using AWS, Google Cloud, Azure or anything else, we have people who live and breathe your ecosystem.</p>
                        </div>

                        <!-- Card 02 -->
                        <div class="products-overview-cards__card">
                          <div class="products-overview-cards__card--heading">No Risk, No Obligation Pricing Model</div>
                          <p class="products-overview-cards__card--description">When our services are employed, we only take a fee if you save money. If we can't save you money, there is no obligation to pay us anything. If we do find savings, we ask for a one time fee. It pays for itself.</p>
                        </div>

                        <!-- Card 03 -->
                        <div class="products-overview-cards__card">
                          <div class="products-overview-cards__card--heading">Improve Cloud Cost Transparency</div>
                          <p class="products-overview-cards__card--description">Part of the process is to take stock of everything to ensure all opportunities for savings are pursued. This brings all of the costs, needs, and solutions to the forefront so you know exactly what you're paying for and why.</p>
                        </div>
                      </div>

                    </div>

                  </span>
                </div><!--end layout-widget-wrapper -->
              </div><!--end widget-span -->
            </div><!--end row-->
          </div><!--end row-wrapper -->
        </div><!--end widget-span -->
      </div><!--end row-->
    </div>

    <div class="row-fluid-wrapper row-depth-1 row-number-10 ">
      <div class="row-fluid ">
        <div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
          <div class="cell-wrapper layout-widget-wrapper">
            <span id="hs_cos_wrapper_module_1477945934144201789" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">

              <section class="hsg-cta-block hsg-cta-block--with-badge hsg-bg__white">
                <div class="hsg-page-width-normal hsg-cta-block__inner">
                  <div class="hsg-flex hsg-cta-block__content-wrapper">
                    <div class="hsg-cta-block__content">
                      <h2 class="hsg-cta-block__header">Start Saving With Cloudmiser Today</h2>
                      <p class="hsg-cta-block__subheader">With a dedicated team, advanced tools and dependability to make your cloud services cheaper with absolutely no risk.</p>
                      <div class="hsg-cta-block__cta-wrapper">

                        <a class="cta--primary homepage-bottom" routerLink="/free-quote">
                          Get a free quote
                        </a>

                      </div>

                      <small class="hsg-microcopy hsg-cta-block__disclaimer">Get started with a free quote to see how much you could save.</small>
                    </div>

                  </div>
                </div>
              </section>
            </span>
          </div><!--end layout-widget-wrapper -->
        </div><!--end widget-span -->
      </div><!--end row-->
    </div>
  </div>
</div>