<div class="body-container-wrapper">
  <div class="body-container container-fluid">
    <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
      <div class="row-fluid ">
        <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">
          <div class="row-fluid-wrapper row-depth-1 row-number-4 ">
            <div class="row-fluid ">
              <div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
                <div class="cell-wrapper layout-widget-wrapper">
                  <span id="hs_cos_wrapper_module_153436819594962" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html">
                    <section class="homepage-hero">
                      <div class="homepage-hero__content">
                        <div class="homepage-hero__container hsg-page-width-normal">
                          <div class="homepage-hero__text">
                            <h1>Save money on your cloud services bill.</h1>
                            <p>Cloud services are revolutionary, but can start to bloat your costs quickly. We have a team of Certified Cloud Operations Engineers that have an incentive to help drive those costs down</p>
                            <div class="homepage-hero__cta">
                              <a class="cta--primary homepage-hero-cta" routerLink="/free-quote">Get a free quote</a>
                              <p class="hsg-microcopy">All services are based on a Contingency Fee model, so you only pay when you save.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </span>
                </div><!--end layout-widget-wrapper -->
              </div><!--end widget-span -->
            </div><!--end row-->
          </div><!--end row-wrapper -->
        </div><!--end widget-span -->
      </div><!--end row-->
    </div><!--end row-wrapper -->
  </div><!--end body -->
</div>

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
  <div class="row-fluid ">
    <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

      <div class="row-fluid-wrapper row-depth-1 row-number-6 ">
        <div class="row-fluid ">
          <div class="span12 widget-span widget-type-cell home-sticky-wrapper" style="" data-widget-type="cell" data-x="0" data-w="12">

            <div class="row-fluid-wrapper row-depth-1 row-number-7 ">
              <div class="row-fluid ">
                <div class="span12 widget-span widget-type-raw_jinja " style="" data-widget-type="raw_jinja" data-x="0" data-w="12">


                  <section class="home-how-it-works">
                    <div class="hsg-page-width-normal">
                      <div class="home-how-it-works__logo-wrapper">
                        <img class="home-how-it-works__logo hsg-deferred b-error" src="/assets/gears.svg" alt="Cloudmiser How It Works">
                        <h2 class="home-how-it-works__logo-header">How It Works</h2>
                        <p class="home-how-it-works__logo-description">Cloudmiser offers a unique solution that comes at absolutely no risk. We analyze your cloud implementation and find ways to trim the fat. If we don't find any savings, there's no obligation.</p>
                      </div>
                    </div>
                  </section>

                  <div class="home-step__container hsg-page-width-normal">

                    <div class="home-step__card">
                      <div class="home-step__card--image-wrapper">
                        <img class="hsg-deferred b-error" src="/assets/analysis.svg" alt="Analysis">
                      </div>
                      <div class="home-step__card--text-wrapper">
                        <h4 class="home-step__card--headline">Analysis</h4>
                        <div class="home-step__card--content">
                          <p></p>
                          <p>We analyze your current cloud implementation and look for ways to potentially cut back your cloud costs.</p>
                          <p></p>
                          <div class="home-step__features">
                            <p>Supported Ecosystems</p>
                            <ul>
                              <li>Amazon Web Services</li>
                              <li>Google Cloud Platform</li>
                              <li>Microsoft Azure</li>
                            </ul>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="home-step__card">
                      <div class="home-step__card--image-wrapper">
                        <img class="hsg-deferred b-error" src="/assets/execution.svg" alt="Execution">
                      </div>
                      <div class="home-step__card--text-wrapper">
                        <h4 class="home-step__card--headline">Execution</h4>
                        <div class="home-step__card--content">
                          <p></p>
                          <p>Our team of Certified Cloud Operations Engineers works on the savings plan, while maintaining all of your needs with 100% uptime.</p>
                          <p></p>
                          <div class="home-step__features">
                            <p>Plan Promises</p>
                            <ul>
                              <li>100% Uptime</li>
                              <li>No Management Required</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="home-step__card">
                      <div class="home-step__card--image-wrapper">
                        <img class="hsg-deferred b-error" src="/assets/savings.svg" alt="Savings">
                      </div>
                      <div class="home-step__card--text-wrapper">
                        <h4 class="home-step__card--headline">Savings</h4>
                        <div class="home-step__card--content">
                          <p>After our team cut back expenses, you start to see significant savings month over month on your cloud services bill.</p>
                          <div class="home-step__features">
                            <p>Notable Results</p>
                            <ul>
                              <li>Average savings of 40%</li>
                              <li>Cleaner Dashboards</li>
                              <li>Contingency Fee Only (No Risk)</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--end widget-span -->
              </div><!--end row-->
            </div><!--end row-wrapper -->
          </div><!--end widget-span -->
        </div><!--end row-->
      </div><!--end row-wrapper -->
    </div><!--end widget-span -->
  </div><!--end row-->
</div>

<div class="row-fluid-wrapper row-depth-1 row-number-10 ">
  <div class="row-fluid ">
    <div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
      <div class="cell-wrapper layout-widget-wrapper">
        <span id="hs_cos_wrapper_module_1477945934144201789" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">

          <section class="hsg-cta-block hsg-cta-block--with-badge hsg-bg__white">
            <div class="hsg-page-width-normal hsg-cta-block__inner">
              <div class="hsg-flex hsg-cta-block__content-wrapper">
                <div class="hsg-cta-block__content">
                  <h2 class="hsg-cta-block__header">Start Saving With Cloudmiser Today</h2>
                  <p class="hsg-cta-block__subheader">With a dedicated team, advanced tools and dependability to make your cloud services cheaper with absolutely no risk.</p>
                  <div class="hsg-cta-block__cta-wrapper">

                    <a class="cta--primary homepage-bottom" routerLink="/free-quote">
                      Get a free quote
                    </a>

                  </div>

                  <small class="hsg-microcopy hsg-cta-block__disclaimer">Get started with a free quote to see how much you could save.</small>
                </div>

              </div>
            </div>
          </section>
        </span>
      </div><!--end layout-widget-wrapper -->
    </div><!--end widget-span -->
  </div><!--end row-->
</div>