<div class="body-container-wrapper">
  <div class="body-container container-fluid">
    <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
      <div class="row-fluid ">
        <div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
          <div class="cell-wrapper layout-widget-wrapper">
            <span id="hs_cos_wrapper_module_150650791946674" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">
            </span>
          </div><!--end layout-widget-wrapper -->
        </div><!--end widget-span -->
      </div><!--end row-->
    </div><!--end row-wrapper -->

    <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
      <div class="row-fluid ">
        <div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

          <div class="row-fluid-wrapper row-depth-1 row-number-4 ">
            <div class="row-fluid ">
              <div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
                <div class="cell-wrapper layout-widget-wrapper">
                  <span id="hs_cos_wrapper_module_153436819594962" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><section class="homepage-hero" data-background="dark">
                    <div class="homepage-hero__content">
                      <div class="homepage-hero__container hsg-page-width-normal">
                        <div class="homepage-hero__text">
                          <h1>Save money on your cloud services bill.</h1>
                          <p>Cloud services are revolutionary, but can start to bloat your costs quickly. We have a team of Certified Cloud Operations Engineers that have an incentive to help drive those costs down</p>
                          <div class="homepage-hero__cta">
                            <a class="cta--primary homepage-hero-cta" href="https://www.hubspot.com/products/get-started?upgrade-intent">Get a free quote</a>
                            <p class="hsg-microcopy">All services are based on a Contingency Fee model, so you only pay when you save.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section></span>
                </div><!--end layout-widget-wrapper -->
              </div><!--end widget-span -->
            </div><!--end row-->
          </div><!--end row-wrapper -->
        </div><!--end widget-span -->
      </div><!--end row-->
    </div><!--end row-wrapper -->
  </div><!--end body -->
</div>